main.upload-state {
  display: flex;
  flex-direction: column;
  align-items: center;

  & > div {
    width: 100%;
    background: $grey-1;
    border-radius: 20px;
    box-shadow: $shadow-5;
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 60%;
    min-height: 400px;

    .loader {
      position: relative;
      left: -10px;
    }

    @include tablet {
      max-width: none;
      border-radius: 0;
    }
  }
}