.main-layout {
  min-height: 100vh;
  overflow: hidden;

  nav.header {
    width: 100vw;
    min-height: 6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @include mobile-lg {
      flex-direction: column;
    }

    a {
      text-decoration: none;
    }

    h1.title {
      font-weight: 300;
      font-size: 30px;
      margin: 0 2rem;
      color: $grey-8;
      display: flex;
      align-items: center;

      @include mobile-lg {
        margin: 1rem;
      }

      img {
        width: 50px;
        margin-right: .5rem;
      }
    }

    a.call-to-action {
      margin-right: 2rem;
      cursor: pointer;
    }
  }

  header {
    background: 
      linear-gradient(0deg, rgba($red-3, 0.4), rgba($red-3, 0.4)), 
      radial-gradient(58.65% 75.06% at 100% 0%, #F42E2B 7.81%, rgba(251, 187, 186, 0) 100%), 
      radial-gradient(73.57% 67.13% at 0% 76.22%, #F16427 14.58%, rgba(240, 108, 51, 0) 91.15%);
    min-height: 500px;
    clip-path: ellipse(75% 100% at center 0);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include laptop {
      min-height: 450px;
    }

    @include tablet {
      min-height: 420px;
    }

    @include mobile-lg {
      min-height: 350px;
    }

    .slogan {
      font-size: 1.2rem;
      margin-top: 2rem;
    }
  }
}

.vertical-offset {
  transform: translateY(-300px);
  @include laptop { transform: translateY(-250px); }
  @include tablet { transform: translateY(-220px); }
  @include mobile-lg { transform: translateY(-100px); }
}