$red-1: hsl(0, 96%, 90%);
$red-2: hsl(1, 91%, 82%);
$red-3: hsl(0, 88%, 73%);
$red-4: hsl(1, 88%, 65%);
$red-5: hsl(1, 86%, 57%);
$red-6: hsl(1, 67%, 45%);
$red-7: hsl(1, 69%, 34%);
$red-8: hsl(1, 73%, 23%);
$red-9: hsl(1, 84%, 12%);

$grey-1: hsl(240, 20%, 99%);
$grey-2: hsl(225, 19%, 92%);
$grey-3: hsl(224, 19%, 84%);
$grey-4: hsl(223, 18%, 77%);
$grey-5: hsl(223, 18%, 69%);
$grey-6: hsl(221, 13%, 48%);
$grey-7: hsl(221, 25%, 27%);
$grey-8: hsl(220, 24%, 17%);
$grey-9: hsl(220, 26%, 7%);

$shadow-1: // Slight shadow for buttons
  0 1px 2px hsla(0, 0, 0, 0.25),
  0 2px 4px hsla(0, 0, 0, 0.1);
$shadow-2: // Elevated buttons
  1px 3px 4px hsla(0, 0, 0, 0.22), 
  0   2px 1px hsla(0, 0, 0, 0.1);
$shadow-3: // Cards
  4px 5px 8px hsla(0, 0, 0, 0.2), 
  0   2px 4px hsla(0, 0, 0, 0.1);
$shadow-4: // Elevated cards
  5px 8px 15px hsla(0, 0, 0, 0.2), 
  2px 3px 4px  hsla(0, 0, 0, 0.15); 
$shadow-5: // High content
  3px 8px 20px hsla(0, 0, 0, 0.25);